#!/usr/bin/env bash
# use asdf with direnv
# https://github.com/asdf-community/asdf-direnv
# you must direnv allow this file for it to work
# Added by install-asdf.sh on Thu Sep 30 23:25:03 CEST 2021
use asdf
# # https://unix.stackexchange.com/questions/575481/how-can-i-find-the-ancestor-directory-with-a-given-name
# look upwards to the directory before ./git
# use this if at root
# export WS_DIR="$HOME/ws"
# use this if in ws/git/src
pwd="$(PWD)" && export WS_DIR="${pwd%git"${pwd#*git}"}"

# python uv uses venv so if it exists and it is not activated, use it
# shellcheck disable=SC1091
if [[ -x .venv/bin/activate ]]; then source .venv/bin/activate; fi
