# use asdf with direnv
# https://github.com/asdf-community/asdf-direnv
# you must direnv allow this file for it to work
# Added by install-asdf.sh on Thu Sep 30 23:25:03 CEST 2021
use asdf
export WS_DIR="$HOME/ws"
